rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {

      allow read, create, update, delete:
        if request.auth != null
        && request.auth.uid == userId;

      match /trainingSessions/{sessionId} {
        allow read, create, update, delete:
          if request.auth != null
          && request.auth.uid == userId;
      }

      match /performanceTests/{testId} {
        allow read, create, update, delete:
          if request.auth != null
          && request.auth.uid == userId;
      }

      match /goals/{goalId} {
        allow read, create, update, delete:
          if request.auth != null
          && request.auth.uid == userId;
      }

      match /calendarEvents/{eventId} {
        allow read, create, update, delete:
          if request.auth != null
          && request.auth.uid == userId;
      }
    }
  }
}